{% extends "base.html" %}

{% block title %} Review - Expense Categorizer{% endblock %}

{% block content %}
    <form action="/review" method="POST" id="review-form">
        <table data-theme="light">
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Category</th>
            </tr>
            {% for transaction in transactions %}
                <tr>
                    <td>
                        <input type="date" value="{{transaction["date"]}}" disabled>
                        <input type="hidden" name="date-{{transaction["id"]}}" value="{{transaction["date"]}}">
                    </td>
                    <td>
                        <textarea name="" id="" disabled>{{transaction["description"]}}</textarea>
                        <input type="hidden" name="description-{{transaction["id"]}}" value="{{transaction["description"]}}">
                    </td>
                    <td>
                        <input type="number" step="0.01" name="amount-{{transaction["id"]}}" value="{{transaction["amount"]}}">
                    </td>
                    <td>
                        <select name="category-{{transaction["id"]}}">
                            {% for category in categories %}
                            <option value="{{category}}" {% if transaction["category"] == category %}selected{% endif %}>{{category}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <button type="submit">Analyze</button>
    </form>
    </table>
{% endblock %}